.row {
    display: flex;
    flex-direction: row;
  }

  aside {
    padding: 2rem;
  }

  main {
    padding: 2rem;
  }

  h1:first-letter,
  h2:first-letter,
  label:first-letter {
    text-transform: uppercase;
  }

  form {
    display: grid;
    gap: 20px;
    /* define the number of grid columns */
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(90px);
    }
  }

  @keyframes slide-to-left {
    to {
      transform: translateX(-90px);
    }
  }

  .slide-it {
    view-transition-name: slide-it;
  }


  ::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(slide-it) {
    animation: 180ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }