<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>

<body>
  <div class="row address">
    <div class="col col-2">
      <h2>%%sender_name%%</h2>
      <span>%%sender_street%%</span>
      <span>%%sender_postal_city%%</span>
      <span>%%sender_phone%%</span>
      <span>KVKnr. %%sender_commerce_number%%</span>
    </div>
    <div class="col col-1">
      <h3>Offerte voor</h3>
      <span>%%recipient_name%%</span>
      <span>%%recipient_company_name%%</span>
      <span>%%recipient_street%%</span>
      <span>%%recipient_postal_city%%</span>
    </div>
  </div>
  <h1>Offerte</h1>
  <b>Verzonden op %%send_date%%</b>
  <div class="divider"></div>
  <p>
    Geachte heer/mevrouw,<br /><br />
    Bedankt dat u ons heeft uitgekozen om uw product te laten maken. Mijn naam is Kenrick Halff en ik
    vind het een eer dat u met ons wil samenwerken. Wij stellen u ook niet teleur. In deze offerte staan
    de stappen met de prijzen die tijdens het proces van pas komen. Er kunnen nog kosten bij komen
    mocht door onvoorziende omstandigheden tijdens de ontwikkeling. Mocht dit meer dan 4 uur
    worden dan word er direct contact met u opgenomen om de situatie te bespreken. Wij willen graag
    dat dit project een groot succes word en stellen onze expertieze tot volhartige beschikbaarheid.
  </p>
  <br />
  <div class="row between">
    <div class="col">
      <p><b>Project: </b>%%project_title%%</p>
      <p>%%project_description%%</p>
    </div>
    <div class="col">
      <p><b>Periode: </b>%%project_duration%%</p>
    </div>
  </div>
  <br />
  <inject-table items="project_tasks" class="tasks-table">
    <inject-column prop="description" class="black" label="Beschrijving" />
    <inject-column prop="hours_estimated" class="align-right" label="Aantal uur" />
    <inject-column prop="hourly_rate" class="align-right" label="Uurprijs" />
    <inject-column prop="total" class="align-right" label="Totaalbedrag" />
  </inject-table>
  <hr />
  <div class="row">
    <div class="col col-5">
      <p class="gray"><span class="light-gray">Opmerkingen: </span>%%remarks%%</p>
    </div>
    <div class="col col-2 align-right span-mb-12">
      <span class="blue">Totaal (excl. BTW):</span>
      <span class="blue">Aanpassingen:</span>
      <span class="blue">%%vat_percentage%%&percnt; BTW:</span>
      <span class="bold blue">Totaal (incl. BTW):</span>
    </div>
    <div class="col col-2 span-mb-12">
      <span class="currency bold gray">%%total_before_vat%%</span>
      <span class="align-right bold gray">- <span class="currency">%%discount%%</span></span>
      <span class="currency bold gray mb-4">%%vat_amount%%</span>
      <span class="currency large bold gray">%%total_after_vat%%</span>
    </div>
  </div>
  <h3>Extra's/planning/aanvullende afspraken</h3>
  <p>%%extras%%</p>
  <h3>Wanneer u dit tekent, gaat u akkoord met de algemene voorwaarden en deze offerte</h3>
  <span class="signature_field">Handtekening voor akkoord:</span>
  <div class="span-mb-12 col">
    <span class="dark-gray"><b>Voorwaarden</b></span>
    <span>Offertes zijn vrijblijvend en zijn 2 maanden geldig.</span>
    <span>Opdrachten worden schriftelijk door de opdrachtgever bevestigd.</span>
    <span>De opdracht word door mijzelf uitgevoerd tenzij dit expliciet anders is aangegeven.</span>
    <span>De opdrachtgever schakelt niet zonder overleg met de ontwikkelaar derden in wanneer dat van
      invloed kan zijn op de uitvoering van de opdracht zoals overeengekomen met de ontwikkelaar.</span>
    <span>Tenzij anders overeengekomen, blijven de, in het kader van de opdracht door de ontwikkelaar, tot
      stand gebrachte resultaten eigendom van de ontwikkelaar, ongeacht of deze aan de opdrachtgever
      of aan derden ter beschikking zijn gesteld. Na oplevering door de ontwikkelaar en betalen van de
      opdracht door de opdrachtgever zijn deze eigendom van de opdrachtgever.</span>
    <p>%%terms%%</p>
  </div>
  <style>
    :root {
      --currency-symbol: '%%currency_symbol%% ';
    }
  </style>
</body>

</html>
